.title {
    background-color: bisque;
    margin-top: 1px;
    text-shadow: 5ch;

}

.loki {
    width: 50px;
    margin-top: -10px;
    margin-bottom: 20px;

}

.posted {
    margin-top: -20px;
    font-size: small;
}

.magazine {
    width: 500px;
    back
}

.musk {
    width: 80px;

}

.albert {
    width: 80px;

}

.modi {
    width: 80px;
}


.copyright {
    background-color: rgb(167, 167, 147);
    text-align: center
}

p {



    margin-top: 10px;
}

.body {
    margin-left: 50px;
    margin-right: 50px;

    border-top: 6px solid rgb(148, 66, 66);
    border-bottom: 6px solid rgb(147, 78, 78);
}


.powerfull-mans {
    float: right;
    display: flexbox;
    background-color: bisque;
    margin-top: -905px;
    padding-bottom: -20px;
    border-right: 5px solid rgb(140, 68, 68);


}

.copyright {
    margin-top: 600px;
    margin-bottom: 1px;
    margin-top: -10px;
    text-align: center
}

.powerfull-mans {}

a {
    text-decoration: rgb(33, 121, 107)
}










































































;
}